* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color1: #f3f2ed;
  --background-color2: #eeebe4;
  --font-primary: 'Inter', sans-serif;;
}

body {
  overflow-x: hidden;
  font-family: var(--font-primary);
  background-color: var(--background-color1);
}

a {
  text-decoration: none;
  color: #64635d;
}

header {
  border-bottom: 1px solid #D5D5D5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color1);
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.social{
  align-items: center;
 
}

.imagem {
  width: 13px;
  margin-right: 17.5px;
}

.center1{
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.menu {
  display: flex;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: 100;
}

.stats {
  margin-left: 6px;
  font-size: 12px;
}

.stats1 {
  margin-left: 6px;
  font-size: 12px;
  border-right: solid 1px #64635d;
}

.logo {
  font-size: 27px;
  font-family: var(--font-primary);
  font-weight: 400;
}

.menu-itens {
  color: black;
  margin-left: 35px;
  font-size: 14px;
}

.menu-itens1 {
  margin-left: 70px;
}

.list {
  width: 18.4px;
}

.container {
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.search-box {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: var(--background-color2);
  height: 20px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding:0;
  color: #000000;
  font-size: 16px;
  line-height: 40px; 
  width: 0;
  transition: .6s;
  font-family: 'Open Sans';
  opacity: 0.5;
}

::-webkit-input-placeholder {
  color: var(--font-primary);
}

.search-btn {
  top: 50;
  bottom: 50%;
  width: 40px;
  height: 20px;
  border-radius: 50%;
  background: var(--background-color2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
}

.search-box:hover > .search-txt {
  width: 250px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: #ffffff;
}

.icon {
  width: 12px;
  margin-left: 5px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2%;
  align-items: center;
  justify-content: space-between;
}

.title-box {
  margin-top: 190px;
  max-width: 500px;
  height: 500px;
}

.paragrafo {
  text-align: justify;
}

.book {
  font-size: 60px;
  margin-bottom: 20px;
  font-family: var(--font-primary);
  font-weight: 200;
}

.read-more {
  cursor: pointer;
  width: 140px;
  height: 40px;
  margin-top: 60px;
  border-color: solid var(--background-color2);
  background-color: transparent;
  border-left-width: 0px;
  border-top-width: 0px;
}

.read-more:hover {
  background-color: var(--background-color2);  
}

.poder-do-habito {
  max-width: 30vh;

}

.livro {
  width: 280px;
}

.certificados {
  width: 100vw;
  height: 200px;
  background-color: var(--background-color2);
}

.parceiros {
  display: flex;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  justify-content: space-between;
  align-items: center;
}

.cert {
  width: 50px;
}

.best-sellers {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
}

.featured {
  margin-top: 170px;
  width: 1000px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-primary);
  font-weight: 300;
}

.destaque {
  margin-top: 22px;
  font-size: 42pt;
}

.card-carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: 60px;

}

::-webkit-scrollbar {
  width: 0px;
}

.card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  scroll-snap-align: start;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card h2 {
  margin: 10px;
  font-size: 1.5rem;
}

.card p {
  margin: 10px;
} 

.products {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  margin-left: 54rem;
}

.indicacao {
  display: flex;
  margin-top: 120px;
  width: 100vw;
  height: 75vh;
  background-color: var(--background-color2);
}

.indicacao-book {
  display: flex;
  width: 900px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.indicacao-foto-livro > img {
  display: flex;
  width: 300px;
  height: 400px;
}

.descricao-livro {
  max-width: 560px;
  margin-left: 80px;
  text-align: justify;
}

.descricao-livro > h1 {
  font-size: 24pt;
  margin-bottom: 10px;
}

.descricao-livro > h3 {
  font-size: 14pt;
  margin-bottom: 30px;
}

.descricao-livro > span > img {
  width: 20px;
  margin-bottom: 10px;
}

.descricao {
  margin-bottom: 30px;
}

.autor {
  margin-bottom: 20px;
  font-weight: 100;
  opacity: 0.5;
}

.value {
  font-weight: bolder;
  color: #776930;
  margin-bottom: 30px;
}

.descricao-livro > a {
  color: black;
  font-weight: bolder;
}

